# параметры для .env
# Django
SECRET_KEY=замените-на-длинную-случайную-строку-из-50-символов
DEBUG=False
ALLOWED_HOSTS=your-domain.ru,www.your-domain.ru,IP-вашего-сервера

# адрес фронтенда 
CORS_ALLOWED_ORIGINS=http://your-domain.ru,https://your-domain.ru

# Порт nginx 
PORT=80
